@media (min-width: 900px) {
  .xl-max-content {
    max-width: 100%;
    width: calc(100% - 260px)
  }

  .xl-max-menu {
    max-width: 300px;
    min-width: 250px;
  }

}

.active {
  background-color: white !important;
  color: #c82333 !important;
  box-shadow: 3px 2px 9px rgba(225,83,97, 0.5);
}
